@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet styles */
@import 'leaflet/dist/leaflet.css';

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.leaflet-control {
  z-index: 1;
}